form {
    margin-top: 20px;
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 25px;
    background: #222;
}

.container form .card-details {
    margin-top: 25px;
}

form .card-details .card-box {
    margin-bottom: 15px;
}

.card-details .card-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.card-details .card-box input,
.card-details .card-box textarea  {
    width: 70%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #c90a0a;
    border-bottom-width: 3px;
    transition: all 0.3s ease;
}

.card-details .card-box input {
    height: 45px;
    font-size: 16px;
}

.card-details .card-box textarea {
    height: 150px;
    font-size: 13px;
}

.card-details .card-box input:focus, 
.card-details .card-box textarea:focus {
    border-color: green;
}

form button {
    padding: 10px 0;
    margin-top: 10px;
    height: 100%;
    width: 40%;
    outline: none;
    background-color: #f7d7d7;
    color: #222;
    font-size: 16px;
    font-weight: 500;
    border-radius: 17px;
    letter-spacing: 1px;
}

form button:hover {
    color: red;
    border-color: red;
}



