.card {
    margin-top: 100px;
    overflow: hidden;
    box-shadow: 0 2px 2px #ededed;
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.card:hover {
    transform: scale(1.02);
}

.card-image{
    height: 15rem;
    width: 100%;
    object-fit: cover;
}